@import 'navbar';

//reset and define the general characteristics
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins' , sans-serif;
}

/* showcase */
 
.showcase_container{
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 20px;
    height: 85vh;
    width: 100%;
    max-width: 1200px;
    transition : all 1s ease-in-out;

    @include tablet{
        grid-template-columns: 1fr;
        height: 90%;
    }

    &_left{
        color: $lime;
        width: 100%;
        line-height: 1.2;

        @include tablet{
            padding: 3rem 0;
         }

        @include mobile{
            line-height: 1.5;
        }

        & h1{
            font-size: 4rem;

            @include tablet{
                font-size: 2rem;
            }
        }
        & h2{
            font-size: 2rem;
            font-weight: bold;
            color: $dark;

            @include mobile{
                font-size: 2rem;
            }
        }
        & p{
            font-size: 1.5rem;
            color: $dark;
            margin-top: 1rem;
            font-weight: 700;

            @include mobile{
                font-size: 1rem;
            }
        }

        &_signup{
            position: relative;
            padding: 15px 30px;
            background-color: $lime;
            border: none;
            border-radius: 4px;
            transition: .3s;
            outline: none;
        
             & a{
                color: $light;
                text-decoration: none;
                font-size: 17px;
                position: relative;
                z-index: 2;
                }
            &::after{
                content: '';
                position: absolute;
                height: 100%;
                width: 0;
                top: 0;
                left: 0;
                border-radius: 4px;
                background-color: $orangeRed;
                transition : all .3s;
            }
            &:hover::after{
                width: 100%;
            }
       }
    }
    &_right{
        position: relative;

    }

    &_right-img1{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        transition : all .5s;

        }

    &_right:hover &_right-img1{
        display: inline;

        width: 90%;
        height: 90%;
    }

    &_right img{
            width: 100%;
            height: 100%;
            }

    


    
}

footer{
    background-color: $light;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    & address a{
        text-decoration: none;
        color: $dark;
        font-size: 20px;

        @include tablet{
            font-size: 15px;
        }

        &:hover{
            text-decoration: underline;
            transition: .3s;
        }
    }
}